img {
  width: 320px;
  height: 350px;
  border-radius: 15px;
  border: 2px solid white;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 15px 30px;
  color: white;
}

h5 {
  text-indent: 10px;
}
a {
  display: block;
  padding: 5px;
  width: 150px;
  border: 1px solid white;
  border-radius: 2%;
  text-align: center;
  color: white;
  /* text-decoration-style: none;     NOT WORKING   */
}

/* NOT WORKING
a:hover {
  text-decoration: underline;
} */

.nav-links {
  text-align: center;
  list-style-type: none;
}

.nav-links li {
  margin: 30px 0;
}

input[type="text"]{
  display: block;
  /* width: 40%; */
}

input[type="submit"] {
  display: block;
  margin-top: 5px;
  /* margin-left: 60px; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
}
/* grid layout 6col 5rows */
.grid-container {
  display: grid;
  grid-template-columns: repeat (6, 1fr);
  grid-template-rows: repeat (5, 1fr);
  gap: 10px;
  height: 100%;
  width: 100%;
}

.nav-name {
  grid-column: 1/5;
  grid-row: 1/2;
  color: white;
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  border: 2px solid white;

}

.nav-buttons {
  grid-column: 5/7;
  grid-row: 1,2;
}


.bio {
  grid-column: 1/3;
  grid-row: 2/6;
  max-width: 420px;
  border: 2px solid white;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 18px;
}

.experience {
  grid-column: 3/5;
  grid-row: 2/6;
  max-width: 420px;
  border: 2px solid white;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 15px;
}

.contact {
  grid-column: 5/7;
  grid-row: 2/6;
  max-width: 400px;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px solid white;
}