img {
  width: 350px;
  height: 350px;
  border-radius: 15px;
}

body {
  padding-left: 50px;
  padding-right: 50px;
  background-color: lightpink;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

input {
  display: block;
}