img {
  width: 350px;
  height: 370px;
  border-radius: 15px;
}

body {
  background-color: lightpink;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
  display: block;
  padding: 5px;
}

ul {
  text-align: center;
  list-style-type: none;
}

li {
  margin: 30px 0;
}

input[type="text"]{
  display: block;
  /* width: 40%; */
}

input[type="submit"] {
  display: block;
  /* margin-top: 5px;
  margin-left: 60px; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
}
/* grid layout 3col 3rows */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}

.nav-name {
  grid-column: 1/2;
  grid-row: 1/2;
}

.nav-buttons {
  grid-column: 3/4;
  grid-row: 1,2;
}


.bio {
  grid-column: 1/2;
  grid-row: 2/4;
}

.experience {
  grid-column: 2/3;
  grid-row: 2/4;
}

.contact {
  grid-column: 3/4;
  grid-row: 2/4;
}