/*  find google font */

@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Quicksand:wght@300..700&display=swap');


/* base styles */
body {
  font-family: "Jaro", sans-serif;
  letter-spacing: 0.25em;
  margin: 0;
  font-size: 2em;
  text-align: center;
  text-align: center;
  background: rgb(24, 88, 24);
  color: white;
}

button,
p {
  font-family: "Jaro", sans-serif;
  display: inline-block;
  margin: 0px 20px;
}

/* p {
  font-family: sans-serif;

} */