body {
    background-color: #FFB6C1;
    padding-left: 40px;
}

h1,
h2 {
    color: black;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

p,
a,
li,
h6 {
    font-size: 14px;
}

.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

.description {
    max-width: 600px;
}

.left {
    max-width: 600px;
    float: left;
}

.right {
    max-width: 600px;
    float: left;
}

.right div {
    margin-left: 30px;
}

.left div {
    margin-top: 15px;
}

.footer {
    left: 50%;
    bottom: 20px;
    border-top: 3px solid #FFF;

}