body {
    background-color: #ffeca6;
    padding-left: 40px;
}

h1,
h2 {
    color: black;
}

h1 {
    font-size: 40px;
    text-align: center;
    max-width: 600px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 18px;
}

p,
a,
li,
h6 {
    font-size: 14px;
    text-align: justify;
}

li,
a {
    line-height: 1.5em;
}

a {
    color: darkgreen;
}
.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

.description {
    max-width: 600px;
    text-align: justify;
}

.credits {
    display: inline;
    padding-top: 15px;
    padding-left: 80px;
}

img {
    padding-bottom: 15px;
}

.left {
    max-width: 600px;
    float: left;
}

.right {
    max-width: 600px;
    float: left;

}

.right div {
    margin-left: 30px;
}

.left div {
    margin-top: 15px;
}

a:hover {
    color: blue;
}

h1:hover {
    color: green;
}

h2:hover {
    text-decoration: underline;
    color: darkred;
}

.description:hover {
    border: 2px solid white;
    padding: 1%;
    border-radius: 3px;
}

ul {
    list-style-type: none;
}

button,
.recipes {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}




 /* For viewports smaller than 400 pixels wide */
@media screen and (max-width: 399px) {
    body {
        background-color: lightblue;
    }
}

/* For viewports between 400 and 799 pixels wide */
@media screen and (min-width: 400px) and (max-width: 799px) {
    body {
        background-color: lightgreen;
    }
}

/* For viewports 800 pixels wide or wider */
@media screen and (min-width: 800px) {
    body {
        background-color: lavender;
    }
}