#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Container {
  display: table-cell;
  vertical-align: middle;
  align-self: center;
}

.question-section {
  border: 2px solid white;
  border-radius: 10px;
  background-color: white;
  color: black;
  margin: 15px 0;
  box-shadow: 10px 5px 5px black;
}